@using AJC.Logistics.SeaWideExpress.QuotingTool.Models
@model AJC.Logistics.SeaWideExpress.QuotingTool.Business.RatesAndRangesModel

<link rel="stylesheet" href="~/assets/styles/index.css" />

<br />

<h3 style="text-align:center;">Fees by Type</h3>

<nav class="navbar navbar-light" style="background-color: rgb(245, 247, 247); padding: 6px 10px; border: 1px solid rgb(189, 195, 199); border-bottom: none; ">
    <div>
        <span><b>State</b></span>&nbsp;
        @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "StateID", "Name"), "--Select--", 
            new {style = "width: 100px"@*, @class = "form-select" *@})
        &nbsp;&nbsp;
        <span><b>Fee Type</b></span>&nbsp;
        @Html.DropDownListFor(m => m.FeeType, new SelectList(Model.FeeTypes, "FeeTypeID", "Name"), "--Select--", 
            new { style = "width: 100px"@*, @class = "form-select" *@})
        &nbsp;
        @Html.DropDownListFor(m => m.FeeSubType, new SelectList(Model.FeeSubTypes, "FeeTypeID", "Name"), "--Select--",
            new {style = "width: 150px", data_url = Url.Action("GetFeeSubTypes")@*, @class = "form-select"*@})
        &nbsp;&nbsp;
        <span><b>Show Customers</b></span>&nbsp;
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        &nbsp;&nbsp;
        <span><b>Period</b></span>&nbsp;<select><option>2020</option><option>2021</option></select>
    </div>   
    <div class="form-inline">
        <button class="btn btn-outline-danger my-2 my-sm-0" id="btnRemove">Remove</button>
        <button class="btn btn-outline-success my-2 my-sm-0" id="btnAdd">Add</button>
    </div>
</nav>


<div style="width:100%; height:300px">
    @Html.Partial("~/Views/Shared/_RatesAndRanges.cshtml", Model.RatesModel)
</div>

<div style="margin: 10px 0">
    <span><b>Ranges by</b></span>&nbsp;<select><option>Unit</option></select>
</div>

<div style="width:100%; height:200px">
    @Html.Partial("~/Views/Shared/_RatesAndRanges.cshtml", Model.RangesModel)
</div>

<script>
    $(function () {
        $("#FeeType").change(function () {
            var feeTypeID = $(this).val();
            var url = $("#FeeSubType").data("url") + '?feeTypeID=' + feeTypeID;
            var $feeSubType = $("#FeeSubType");
            $.getJSON(url, function (data) {
                $feeSubType.empty();
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        $feeSubType.append($("<option>").text(item.Text).val(item.Value));
                    });
                } else { $feeSubType.append($("<option>").text("--Select--"));}
            });
        });

        let lastId = -1;
        $("#btnAdd").click(function () {
            const grid = agGridManager.getGrid('myGridRates');
            if (!grid) alert('matanga!!!');
            grid.api.applyServerSideTransaction({
                add: [{ FeeID: lastId-- }]
            });
        });

        $("#btnRemove").click(function () {
            alert("Remove");
        });
    });
</script>